body, html{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #F2F3EE;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Login */

.login{
  
  width: 100%;
  height: 100%;
}

.wrapper{
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #dadada;
  width: 24rem;
  border-radius: 2px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.wrapper h1{
  margin-top: 4rem;
  margin-left: 2rem;
  color: #504f4f;
}

.form-control, .btn_entrar_login{
  width: 20rem;
  height: 2.8rem;
  border-radius: 4px;
  margin-top: 0.8rem;
  border-width: 1px;
  margin-left: 2rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  border-color: #eee;
  border-width: 1px;
  color: #2c2c2c;
}

.form-control::placeholder{
  color: #888;
}

.form-control:focus {
  outline: none; /* Remove a borda padrão ao focar */
  border-color: #7497f7; /* Borda azul ao focar */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Adiciona um leve brilho azul ao focar */
}

.btn_entrar_login{
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  background-color: #7497f7;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #4467c7;
}

.btn_entrar_login:hover{
  background-color: #4467c7;
}

.wrapper p{
  color: #b9b9b9;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

/* Fim login */


.content{
  width: 94%;
  height: 86%;
  background-color: #fff;
  border-radius: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* HEADER */

#header {
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 4rem;
  align-items: center;
  border-radius: 18px 18px 0 0;
}

#logo_header{
  height: 3.6rem;
  width: auto;
  margin-left: 2rem;
}

#name_header{
  margin-left: 2rem;
  font-size: 28px;
  color: #ED654D
}

#user_header{
  margin-left: 1.4rem;
  color: #2c2c2c;
}

#logout_icon_header{
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 1.4rem;
  cursor: pointer;
}

#logout_icon_header:hover{
  transform: scale(0.94);
}

#notification_alert{
  margin-left: 88rem;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

#notification_alert:hover{
  transform: scale(0.94);
}

/* FIM HEADER */

/* MENU */

#navbar-container{
  display: flex;
  height: 100%;
}

#navbar{
  width: 14rem;
  color: #2c2c2c;
}

#navbar ul{
  padding: 0;
  margin-left: 2.4rem;
  margin-top: 2.4rem;
}

#navbar li{
  list-style-type: none;
  height: 2rem;
  padding: 8px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#navbar li:hover{
  color: #ED654D;
  background-color: #F2F3EE;
}

/* FIM MENU */

#container {
  background-color: #F2F3EE;
  border-radius: 4px;
}

#add-search {
  margin-top: 4vh;
  width: 80vw;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#new-service{
  display: flex;
}

#list-services {
  margin: 4vh;
  margin-top: 8vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  background-color: #ffffff;
  border-radius: 4px;
}

#tb_services {
  text-align: center;
}

#tb_services th{
  background-color: #6284f2;
  height: 2rem;
  color:#ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  width: 28vw;
  text-align: center;
}

#tb_services #id{
  width: 4vw;
}

#tb_services td{
  font-size: 14px;
  color: #2d2d2d;
  height: 4vh;
}

#tb_services tr:nth-child(even) {
  background-color: #e9eeff;
}
#tb_services tr:nth-child(odd) {
  background-color: #ffffff;
}

#tb_services tr:hover {
  background-color: #ced9fd;
}

.btn_toggle, .btn_edit, .btn_delete, .btn_save, .btn_cancel{
  border-style: none;
  background: none;
  vertical-align: middle;
  align-items: center;
  padding: 0; /* Remove o padding */
  margin: 0; /* Remove a margem */
  display: inline-flex; /* Alinha o conteúdo do botão */
  align-items: center; /* Alinha verticalmente o conteúdo */
  justify-content: center; /* Alinha horizontalmente o conteúdo */
  cursor: pointer;
}

.btn_edit img, .btn_delete img, .btn_save img, .btn_cancel img {
  display: block; /* Remove o espaço abaixo da imagem */
  margin: 0; /* Remove margens adicionais */
  padding: 0; /* Remove padding */
  width: 24px; /* Defina um tamanho fixo */
  height: 24px; /* Defina um tamanho fixo */
}

.btn_toggle img{
  width: 26px; /* Defina um tamanho fixo */
  height: 26px; /* Defina um tamanho fixo */
}


#acoes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* #acoes img{
  width: 1.6vw;
  height: 1.6vw;
} */

#acoes img:hover{
  opacity: 50%;
}

#btn_new_service, #btn_export{
  width: 8rem;
  height: 2.8rem;
  background-color: #fff;
  border-radius: 4px;
  border-style: none;
  font-size: 1rem;
  color: #2c2c2c;
  cursor: pointer;
  margin-left: 2.4rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#btn_new_service:hover{
  transform: scale(0.94);
}

#btn_export:hover{
  transform: scale(0.94);
}

#btn_add_img, #btn_export_img{
  width: 1.6rem;
  height: 1.6rem;
}

#img_search{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

#inp_search{
  width: 24vw;
  height: 4vh;
  border-color: #6284f2;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#inp_search:focus{
  border-color: #6284f2;
}


#footer {
  height: 4vw;
  background-color: #3f6deb;
  color: white;
  display: flex;
  align-items: center;
}

#footer p{
  margin-left: 2vw;
}


#service-form {
  display: flex;
  flex-direction: row;
}

#service-form label {
  margin-right: 10px;
  /* Espaçamento entre o rótulo e o campo */
}

/* Estilos adicionais para os campos de entrada */
#service-form input[type="text"],
#service-form input[type="password"],
#service-form input[type="email"] {
  width: 200px;
  /* Largura dos campos de entrada */
}

#service-form button {
  margin-left: 10px;
  /* Espaçamento entre o campo de entrada e o botão */
}


.context-menu {
  position: absolute;
  display: none;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  border-radius: 6px;
}

.context-menu hr{
  width: 98%;
  color: rgb(134, 133, 133);
}

.context-menu ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.context-menu ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu ul li:hover {
  background-color: #eee;
}


.edit_service_name{
  width: 12rem;
  width: 100%;
  height: 100%;
  border-style: none;
}

.edit_user_name{
  width: 12rem;
  width: 100%;
  height: 100%;
  border-style: none;
}

.edit_password{
  width: 12rem;
  width: 100%;
  height: 100%;
  border-style: none;
}

/* Modal do gerador de senhas */

/* Password generator */

#password-generator {
  display: none;
  position: fixed;
  z-index: 1002;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 6px 6px 1px 1px #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  font-size: 12px;
}

#btn-password-generator{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#generate-btn, #continue-btn, #cancel-btn{
  width: 6rem;
  height: 2rem;
  margin: 1px;
  border-radius: 4px;
  border-style: none;
}


#generate-btn{
  background-color: #71b7e6;
  color: #154b6e;
}

#continue-btn{
  background-color: #a6c88c;
  color: #324d1e;
}

#cancel-btn{
  background-color: #e36b6b;
  color: #691f1f;
}

#generate-btn:hover{
  background-color: #afd2e9;
}

#continue-btn:hover{
  background-color: #cbd6c2;
}

#cancel-btn:hover{
  background-color: #e29a9a;
}

/* Fim do modal do gerador de senhas */


/* Modal do novo serviço */

.modal-overlay-new-service {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Modal Window */

.modal-new-service {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: white;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: auto;
  max-height: 80%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.modal-new-service.active {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modal-overlay-new-service.active {
  display: block;
  opacity: 1;
}

.modal-new-service p{
  background-color: #3f6deb;
  color: #ffffff;
  margin-top: 0;
  padding: 5px;
}

#table-modal-new-service{
  margin: 20px;
  margin-top: 0;
}

#table-modal-new-service th{
  background-color: #3f6deb;
  width: 100%;
  margin-bottom: 0;
}

#table-modal-new-service tr{

}

#table-modal-new-service td{
  padding: 10px;
 }

/* Fim modal do novo serviço */

/* Início DataTables */

.custom-search {
  width: 400px;           /* Define a largura */
  border: 2px solid #ccc; /* Borda personalizada */
  border-radius: 5px;     /* Bordas arredondadas */
  font-size: 16px;        /* Tamanho da fonte */
}

/* Estilo para o container do campo de pesquisa */
.dataTables_filter {
  margin-top: 20px;    /* Espaçamento superior */
  margin-bottom: 20px;    /* Espaçamento inferior */
}

.dataTables_length {
  margin-top: 20px;  /* Define a margem superior */
}

.dataTables_paginate {
  margin-top: 10px;  /* Adiciona margem superior */
}

/* Fim DataTables */