body, html{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #F2F3EE;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* LOGIN */

.login{
  
  width: 100%;
  height: 100%;
}

.wrapper{
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #dadada;
  width: 24rem;
  border-radius: 2px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.wrapper h1{
  margin-top: 4rem;
  margin-left: 2rem;
  color: #504f4f;
}

.form-control, .btn_entrar_login{
  width: 20rem;
  height: 2.8rem;
  border-radius: 4px;
  margin-top: 0.8rem;
  border-width: 1px;
  margin-left: 2rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  border-color: #eee;
  border-width: 1px;
  color: #2c2c2c;
  cursor: pointer;
}

.form-control::placeholder{
  color: #888;
}

.form-control:focus {
  outline: none; /* Remove a borda padrão ao focar */
  border-color: #7497f7; /* Borda azul ao focar */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Adiciona um leve brilho azul ao focar */
}

.btn_entrar_login{
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  background-color: #7497f7;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #4467c7;
}

.btn_entrar_login:hover{
  background-color: #4467c7;
}

.wrapper p{
  color: #b9b9b9;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

/* FIM LOGIN */


.content{
  width: 94%;
  height: 86%;
  background-color: #fff;
  border-radius: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* HEADER */

#header {
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 4rem;
  align-items: center;
  border-radius: 18px 18px 0 0;
}

#logo_header{
  height: 3.6rem;
  width: auto;
  margin-left: 2rem;
}

#name_header{
  margin-left: 2rem;
  font-size: 28px;
  color: #ED654D
}

#user_header{
  margin-left: 1.4rem;
  color: #2c2c2c;
}

#logout_icon_header{
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 1.4rem;
  cursor: pointer;
}

#logout_icon_header:hover{
  transform: scale(0.92);
}

#notification_alert{
  margin-left: 88rem;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

#notification_alert:hover{
  transform: scale(0.92);
}

/* FIM HEADER */

/* MENU */

#navbar-container{
  display: flex;
}

#navbar{
  width: 14rem;
  color: #2c2c2c;
  background-color: #fff;
}

#navbar ul{
  padding: 0;
  margin-left: 2.4rem;
  margin-top: 2.4rem;
}

#navbar li{
  list-style-type: none;
  height: 2rem;
  padding: 8px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#navbar li:hover{
  color: #ED654D;
  background-color: #F2F3EE;
}

/* FIM MENU */

#container {
  background-color: #F2F3EE;
  border-radius: 4px;
}

/* BOTÕES NOVO E EXPORTAR */

#new_service_export {
  margin-top: 2.4rem;
  display: flex;
}

#btn_new_service, #btn_export{
  width: 8rem;
  height: 2.8rem;
  background-color: #fff;
  border-radius: 4px;
  border-style: none;
  font-size: 1rem;
  color: #2c2c2c;
  cursor: pointer;
  margin-left: 2.4rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#btn_new_service{
  background-color: #638cd3;
  color: #fff;
}

#btn_new_service:hover{
  transform: scale(0.92);
}

#btn_export:hover{
  transform: scale(0.92);
}

#btn_add_img, #btn_export_img{
  width: 1.6rem;
  height: 1.6rem;
}

/* FIM BOTÕES NOVO E EXPORTAR */

/* FIM CONTAINER */

/* TABELA DE SERVIÇOS */

#list-services {
  margin-left: 2.4rem;
  margin-top: 4rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 6rem;
}

#tb_services {
  text-align: center;
}

#tb_services th{
  height: 2rem;
  color:#2c2c2c;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  width: 24rem;
  text-align: center;
}

#tb_services #id{
  width: 4rem;
}

#tb_services td{
  font-size: 14px;
  color: #2d2d2d;
  height: 2.4rem;
  font-weight: 400;
  font-style: normal;
}

#tb_services tr:nth-child(even) {
  background-color: #f2fdf9;
}
#tb_services tr:nth-child(odd) {
  background-color: #ffffff;
}

#tb_services tr:hover {
  background-color: #E0F1EB;
}

/* FIM TABELA DE SERVIÇOS */

/* BOTOES TABELA DE SERVICOS */

#acoes{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}

.btn_toggle, .btn_edit, .btn_delete, .btn_save, .btn_cancel{
  border-style: none;
  background: none;
  cursor: pointer;
}

#acoes img{
  width: 1.6rem;
  height: 1.6rem;
}

#acoes img:hover{
  transform: scale(0.92);
}

/* FIM BOTOES TABELA DE SERVICOS */

/* INÍCIO FOOTER */

#footer {
  background-color: #fff;
  color: #2c2c2c;
  box-sizing: border-box;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 2.4rem;
  font-weight: 400;
  margin-top: 6rem;
  border-radius: 0 0 24px 24px;
}

/* FIM FOOTER */

.context-menu {
  position: absolute;
  display: none;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 300;
}

.context-menu hr{
  width: 98%;
  color: rgb(134, 133, 133);
}

.context-menu ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.context-menu ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu ul li:hover {
  background-color: #eee;
}


.edit_service_name{
  width: 12rem;
  width: 100%;
  height: 100%;
  border-style: none;
}

.edit_user_name{
  width: 12rem;
  width: 100%;
  height: 100%;
  border-style: none;
}

.edit_password{
  width: 12rem;
  width: 100%;
  height: 100%;
  border-style: none;
}

/* Modal do gerador de senhas */

/* Password generator */

#password-generator {
  display: none;
  position: fixed;
  z-index: 1002;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 32rem;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
  font-size: 1rem;
  font-weight: 300;
  background-color: #fff;
}

.modal-content {
  width: 100%;
  height: 100%;
  margin: 2rem 0 2.8rem 2rem;
}

#btn-password-generator{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

#btn-password-generator button{
  width: 8rem;
  height: 2.8rem;
  
  border-radius: 4px;
  border-style: none;
  font-size: 1rem;
  color: #2c2c2c;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#generate-btn{
  background-color: #b1c8ec;
}

#continue-btn{
  background-color: #b1ecd8;
}

#cancel-btn{
  background-color: #eaebea;
}

#generate-btn:hover, #cancel-btn:hover, #continue-btn:hover{
  transform: scale(0.92);
}

#label-generated-password{
  margin-left: 2rem;
}

#generated-password{
  width: 20rem;
  height: 1.6rem;
  font-size: 1.2rem;
  margin-bottom: 4rem;
  border-radius: 4px;
}

/* Fim do modal do gerador de senhas */


/* MODAL DO NOVO SERVIÇO */

.modal-overlay-new-service {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Modal Window */

.title-modal{
  background-color: #F2F3EE;
  border-radius: 4px 4px 0 0;
  padding: 0.8rem;
  font-weight: 400;
  font-size: 1.2rem;
  color: #2c2c2c;
}

.form-modal{
  margin-top: 2.8rem;
}

.label{
  margin-bottom: 3.4rem;
  font-weight: 400;
  margin-left: 2rem;
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

.form-modal input{
  width: 20rem;
  height: 1.8rem;
  border-radius: 4px;
  font-size: 16px;
  border-width: 1px;
  margin-left: 2rem;
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

.modal-new-service {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background-color: #fff;
  z-index: 1001;
  border-radius: 4px;
  height: 28rem;
  width: 24rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-size: 1rem;
}

.modal-new-service.active {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modal-overlay-new-service.active {
  display: block;
  opacity: 1;
}

#btn-modal-new-service{
  display: flex;
  margin-top: 3.6rem;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

#btn-modal-new-service button{
  width: 8rem;
  height: 2.8rem;
  background-color: #b1ecd8;
  border-radius: 4px;
  border-style: none;
  font-size: 1rem;
  color: #2c2c2c;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#btn-modal-new-service .cancelar{
  background-color: #eaebea;
}

#btn-modal-new-service button:hover{
  transform: scale(0.92);
}


/* FIM MODAL DO NOVO SERVIÇO */

/* Início DataTables */

.custom-search {
  width: 400px;           /* Define a largura */
  border: 2px solid #ccc; /* Borda personalizada */
  border-radius: 5px;     /* Bordas arredondadas */
  font-size: 16px;        /* Tamanho da fonte */
  padding-left: 2rem !important; /* Força o padding à esquerda */
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

/* Estilo para o container do campo de pesquisa */
.dataTables_filter {
  margin-top: 20px;    /* Espaçamento superior */
  margin-bottom: 20px;    /* Espaçamento inferior */
}

.dataTables_length {
  margin-top: 20px;  /* Define a margem superior */
  font-weight: normal;
}

.dataTables_paginate {
  margin-top: 10px;  /* Adiciona margem superior */
}

/* Fim DataTables */