<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

  <!-- DataTables JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

  <title>Lock - Gerenciador de senhas</title>
</head>

<body>


  <div class="content">

    <!-- Header -->

    <div id="header">
      <!-- <img id="logo_header" src="{% static 'img/cadeado_logo.png' %}"> -->
      <p id="name_header">LOCKER</p>
      <img id="notification_alert" src="{% static 'img/packard-bell.png' %}">
      <div id="user_header">Olá, <strong>{{ user_name }}</div>
      <div id="logout" onclick="window.location.href={% url 'logout' %}" title="Sair">
        <img id="logout_icon_header" src="{% static 'img/logout_icon.png' %}">
      </div>
    </div>

    <!-- Fim header -->

    <div id="navbar-container">
      <div id="navbar">
        <ul>
          <li>Home</li>
          <li>Sobre</li>
        </ul>
      </div>

      <div id="container">
        <div id="add-search">

          <div id="new-service">
            
            <div id="btn_new_service" onclick="showNewServiceForm()" title="Cadastrar novo serviço">
              <img id="btn_add_img" src="{% static 'img/btn_add.png' %}">
              Novo
            </div>

            <div id="btn_export" onclick="exportData()">
              <img id="btn_export_img" src="{% static 'img/btn_export.png' %}">
              Exportar
            </div>

          </div>

          <!-- <div id="search">
            <form method="GET" action="">
              {% csrf_token %}
              <input type="search" id="inp_search" name="search" placeholder="Digite sua busca...">
              <button id="btn_search" type="submit" hint="Buscar" title="Pesquisar serviço ou usuário">
                <img id="img_search" src="{% static 'img/search-icon.png' %}">
              </button>
            </form>
          </div> -->
        </div>

        <!-- Overlay and Modal Structure -->
        <div id="modal-overlay-new-service" class="modal-overlay-new-service"></div>

        <div id="new-service-modal" class="modal-new-service">
          <p>Cadastrar serviço</p> <br>

          <form id="service-form">
            {% csrf_token %}

            <table id="table-modal-new-service">
              <tr>
                <td><label for="service_name">Nome do Serviço:</label></td>
                <td><input type="text" id="service_name" name="service_name"></td>
              </tr>
              <tr>
                <td><label for="user_name">Nome do Usuário:</label></td>
                <td><input type="text" id="user_name" name="user_name"></td>
              </tr>
              <tr>
                <td><label for="password">Senha:</label></td>
                <td><input type="password" id="password" name="password" onclick="openPasswordGenerator('password')">
                </td>
              </tr>
              <tr>
                <td><button type="button" onclick="saveService()">Salvar</button></td>
                <td><button type="button" onclick="cancelNewService()">Cancelar</button></td>
              </tr>
            </table>
          </form>
        </div>

        <div id="list-services">
          <table id="tb_services">
            <thead>
              <tr>
                <th id="id">ID</th>
                <th>DATA DE CRIAÇÃO</th>
                <th>ÚLTIMA ALTERAÇÃO</th>
                <th>NOME DO SERVIÇO</th>
                <th>NOME DO USUÁRIO</th>
                <th>SENHA</th>
                <th>AÇÕES</th>
              </tr>
            </thead>
            <tbody>
              {% for service in services %}
              <tr id="row_{{ service.id }}" oncontextmenu="showContextMenu(event, '{{ service.id }}')">
                <td>{{ service.id }}</td>
                <td>{{ service.create_date|date:"Y-m-d H:i" }}</td>
                <td id="update_date_{{ service.id }}">{{ service.update_date|date:"Y-m-d H:i" }}</td>
                <td>
                  <span id="service_name_{{ service.id }}">{{ service.service_name }}</span>
                  <input class="edit_service_name" id="edit_service_name_{{ service.id }}" type="text"
                    style="display: none;" value="{{ service.service_name }}">
                </td>
                <td>
                  <span id="user_name_{{ service.id }}">{{ service.user_name }}</span>
                  <input class="edit_user_name" id="edit_user_name_{{ service.id }}" type="text" style="display: none;"
                    value="{{ service.user_name }}">
                </td>
                <td>
                  <span id="password_{{ service.id }}"> *************** </span>
                  <input class="edit_password" id="edit_password_{{ service.id }}" type="text" style="display: none;"
                    onclick="openPasswordGenerator('edit_password_{{ service.id }}')">
                </td>
                <td id="acoes">
                  <!-- Botão para exibir/ocultar a senha -->
                  <button class="btn_toggle" title="Exibir senha" id="toggle_psw_{{ service.id }}"
                    onclick="revealPassword('{{ service.id }}')">
                    <img id="img_search_{{ service.id }}" src="{% static 'img/eye_opened.png' %}">
                  </button>

                  <!-- Botão para editar o serviço -->
                  <button class="btn_edit" title="Editar registro" onclick="enableEdit('{{ service.id }}')">
                    <img id="edit_btn_{{ service.id }}" src="{% static 'img/btn_edit.png' %}">
                  </button>

                  <!-- Botão para salvar o serviço (oculto inicialmente) -->
                  <button class="btn_save" title="Salvar edição" style="display: none;"
                    onclick="saveChanges('{{ service.id }}')">
                    <img id="save_btn_{{ service.id }}" src="{% static 'img/btn_save.png' %}">
                  </button>

                  <!-- Botão para excluir o serviço -->
                  <button class="btn_delete" title="Excluir registro" onclick="deleteService('{{ service.id }}')">
                    <img id="delete_btn_{{ service.id }}" src="{% static 'img/btn_delete.png' %}">
                  </button>

                  <!-- Botão para cancelar edição (oculto inicialmente) -->
                  <button class="btn_cancel" title="Cancelar edição" id="cancel_btn_{{ service.id }}"
                    style="display: none;" onclick="cancelEdit('{{ service.id }}')">
                    <img id="cancel_img_{{ service.id }}" src="{% static 'img/btn_cancel.png' %}">
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <!-- <div id="footer">
      <p>Desenvolvido pela Diretoria de Modernização e Inovação - DMI / 2024</p>
    </div> -->

    <div class="context-menu" id="context-menu">
      <ul>
        <li onclick="copyToClipboard('username')">Copiar nome do usuário</li>
        <li onclick="copyToClipboard('password')">Copiar senha</li>
        <hr>
        <li onclick="enableEditContextMenu()">Editar</li>
        <li onclick="deleteServiceContextMenu()">Excluir</li>
      </ul>
    </div>

    <div id="password-generator" class="modal">
      <div class="modal-content">
        <h2>Gerador de Senhas</h2>
        <form id="generator-form">
          <div>
            <label>Essa senha deve conter:</label><br><br>
            <input type="radio" id="mixed" name="case" value="mixed" checked>
            <label for="mixed">Mixed Case</label><br>
            <input type="radio" id="lower" name="case" value="lower">
            <label for="lower">Lower Case</label><br>
            <input type="radio" id="upper" name="case" value="upper">
            <label for="upper">Upper Case</label>
          </div>
          <br />
          <div>
            <input type="checkbox" id="digits" name="digits" checked>
            <label for="digits">Pode conter dígitos</label><br>
            <input type="checkbox" id="symbols" name="symbols" checked>
            <label for="symbols">Pode conter símbolos</label><br>
            <input type="checkbox" id="start-char" name="start-char" checked>
            <label for="start-char">Deve começar com um caracter</label>
          </div>
          <br>
          <div>
            <label>Deve conter entre</label>
            <input type="number" id="min-length" name="min-length" min="4" max="20" value="8">
            <label>e</label>
            <input type="number" id="max-length" name="max-length" min="4" max="20" value="12">
            <label>caracteres</label>
          </div>
          <br>
          <div id="btn-password-generator">
            <button type="button" id="generate-btn">Gerar</button>
            <button type="button" id="continue-btn">Continuar</button>
            <button type="button" id="cancel-btn">Cancelar</button>
          </div>
          <div>
            <br>
            <label for="generated-password">Senha gerada:</label>
            <input type="text" id="generated-password">
          </div>
        </form>
      </div>
    </div>



  </div>
  <!-- Fim container e menu -->



  <script>
    let currentServiceId = null;
    let currentContextType = null;
    let currentPasswordField = null;

    document.addEventListener('click', function (event) {
      const contextMenu = document.getElementById('context-menu');
      contextMenu.style.display = 'none';
    });

    function enableEditContextMenu() {
      const serviceId = currentServiceId; // Variável global definida em showContextMenu
      enableEdit(serviceId);
    }

    function deleteServiceContextMenu() {
      const serviceId = currentServiceId; // Variável global definida em showContextMenu
      deleteService(serviceId);
    }

    function showContextMenu(event, serviceId) {
      event.preventDefault();
      currentServiceId = serviceId;
      const contextMenu = document.getElementById('context-menu');
      contextMenu.style.display = 'block';
      contextMenu.style.top = `${event.pageY}px`;
      contextMenu.style.left = `${event.pageX}px`;
    }

    function copyToClipboard(type) {
      const serviceId = currentServiceId;
      let textToCopy = '';
      if (type === 'username') {
        textToCopy = document.getElementById('user_name_' + serviceId).textContent.trim();
      } else if (type === 'password') {
        const passwordSpan = document.getElementById('password_' + serviceId);
        const editPasswordInput = document.getElementById('edit_password_' + serviceId);
        if (passwordSpan.textContent.trim() === '***************') {
          textToCopy = editPasswordInput.value;
        } else {
          textToCopy = passwordSpan.textContent.trim();
        }
      }
      navigator.clipboard.writeText(textToCopy).then(() => {
        alert(type === 'username' ? 'Nome do usuário copiado!' : 'Senha copiada!');
      }).catch(err => {
        alert('Erro ao copiar o texto: ' + err);
      });
      document.getElementById('context-menu').style.display = 'none';
    }

    let editingId = null;

    // function enableEdit(serviceId) {
    //   if (editingId !== null) {
    //     cancelEdit(editingId);
    //   }
    //   document.getElementById('service_name_' + serviceId).style.display = 'none';
    //   document.getElementById('edit_service_name_' + serviceId).style.display = 'inline';
    //   document.getElementById('user_name_' + serviceId).style.display = 'none';
    //   document.getElementById('edit_user_name_' + serviceId).style.display = 'inline';
    //   document.getElementById('password_' + serviceId).style.display = 'none';
    //   document.getElementById('edit_password_' + serviceId).style.display = 'inline';

    //   //Alterar o botão de editar para o botão de salvar

    //   const editButtonImg = document.getElementById('edit_btn_' + serviceId);
    //   editButtonImg.src = "{% static 'img/btn_save.png' %}"; // Caminho para a imagem de salvar
    //   editButtonImg.alt = "Salvar";
    //   editButtonImg.title = "Salvar alterações";
    //   editButtonImg.onclick = function () { saveChanges(serviceId); };

    //   //Alterar o botão de deletar para o botão de cancelar

    //   const cancelButtonImg = document.getElementById('delete_btn_' + serviceId);
    //   cancelButtonImg.src = "{% static 'img/btn_cancel.png' %}"; // Caminho para a imagem de cancelar
    //   cancelButtonImg.alt = "Cancelar";
    //   cancelButtonImg.title = "Cancelar alterações";
    //   cancelButtonImg.onclick = function () { cancelEdit(serviceId); };


    //   editingId = serviceId;
    // }

    function enableEdit(serviceId) {
      if (editingId !== null) {
        cancelEdit(editingId);
      }

      // Ocultar campos atuais e exibir campos de edição
      document.getElementById('service_name_' + serviceId).style.display = 'none';
      document.getElementById('edit_service_name_' + serviceId).style.display = 'inline';
      document.getElementById('user_name_' + serviceId).style.display = 'none';
      document.getElementById('edit_user_name_' + serviceId).style.display = 'inline';
      document.getElementById('password_' + serviceId).style.display = 'none';
      document.getElementById('edit_password_' + serviceId).style.display = 'inline';

      // Ocultar o botão de editar e mostrar o botão de salvar
      const editButton = document.querySelector('.btn_edit img[id="edit_btn_' + serviceId + '"]');
      const saveButton = document.querySelector('.btn_save img[id="save_btn_' + serviceId + '"]');
      if (editButton) editButton.parentElement.style.display = 'none';
      if (saveButton) saveButton.parentElement.style.display = 'inline';

      // Ocultar o botão de deletar e mostrar o botão de cancelar
      const deleteButton = document.querySelector('.btn_delete img[id="delete_btn_' + serviceId + '"]');
      const cancelButton = document.querySelector('.btn_cancel img[id="cancel_img_' + serviceId + '"]');
      if (deleteButton) deleteButton.parentElement.style.display = 'none';
      if (cancelButton) cancelButton.parentElement.style.display = 'inline';

      // Carregar e exibir a senha dinamicamente via AJAX
      fetch(`/reveal_password/${serviceId}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        }
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            alert('Erro ao carregar a senha: ' + data.error);
          } else {
            // Atualizar o campo de input com a senha recebida
            const passwordInput = document.getElementById('edit_password_' + serviceId);
            passwordInput.value = data.password;
          }
        })
        .catch(error => {
          console.error('Erro:', error);
          alert('Erro ao carregar a senha.');
        });

      editingId = serviceId;
    }




    function cancelEdit(serviceId) {
      // Debug: Log para verificar se a função está sendo chamada
      console.log("Cancel edit for serviceId:", serviceId);

      // Restaurar a exibição original dos campos
      document.getElementById('service_name_' + serviceId).style.display = 'inline';
      document.getElementById('edit_service_name_' + serviceId).style.display = 'none';
      document.getElementById('user_name_' + serviceId).style.display = 'inline';
      document.getElementById('edit_user_name_' + serviceId).style.display = 'none';
      document.getElementById('password_' + serviceId).style.display = 'inline';
      document.getElementById('edit_password_' + serviceId).style.display = 'none';

      // Ocultar o botão de cancelar e mostrar o botão de editar
      const editButton = document.querySelector('.btn_edit img[id="edit_btn_' + serviceId + '"]');
      const saveButton = document.querySelector('.btn_save img[id="save_btn_' + serviceId + '"]');
      if (editButton) editButton.parentElement.style.display = 'inline';
      if (saveButton) saveButton.parentElement.style.display = 'none';

      // Ocultar o botão de cancelar e mostrar o botão de deletar
      const deleteButton = document.querySelector('.btn_delete img[id="delete_btn_' + serviceId + '"]');
      const cancelButton = document.querySelector('.btn_cancel img[id="cancel_img_' + serviceId + '"]');
      if (deleteButton) deleteButton.parentElement.style.display = 'inline';
      if (cancelButton) cancelButton.parentElement.style.display = 'none';

      // Redefinir o ID de edição
      editingId = null;
    }




    function saveChanges(serviceId) {
      const serviceName = document.getElementById('edit_service_name_' + serviceId).value;
      const userName = document.getElementById('edit_user_name_' + serviceId).value;
      const password = document.getElementById('edit_password_' + serviceId).value;

      fetch('{% url "save_changes" %}', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: new URLSearchParams({
          'service_id': serviceId,
          'service_name': serviceName,
          'user_name': userName,
          'password': password
        })
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            alert(data.error);
          } else {
            // document.getElementById('service_name_' + serviceId).textContent = serviceName;
            // document.getElementById('user_name_' + serviceId).textContent = userName;
            //document.getElementById('password_' + serviceId).textContent = data.password;
            //document.getElementById('password_' + serviceId).textContent = password;
            //document.getElementById('update_date_' + serviceId).textContent = data.update_date;
            alert('Alterações salvas com sucesso.');
            location.reload();
            cancelEdit(serviceId);
          }
        })
        .catch(error => {
          console.error('Erro:', error);
          alert('Erro ao salvar alterações: ' + error);
        });
    }


    function deleteService(serviceId) {
      console.log("Attempting to delete serviceId:", serviceId); // Debug

      if (confirm('Tem certeza que deseja excluir este serviço?')) {
        fetch('/delete_service/' + serviceId + '/', {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          }
        })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              alert(data.message);
              document.getElementById('row_' + serviceId).remove();
            } else {
              alert(data.message);
            }
          })
          .catch(error => {
            console.error('Erro:', error);
            alert('Erro ao excluir serviço.');
          });
      }
    }

    function showNewServiceForm() {
      const modalOverlay = document.getElementById('modal-overlay-new-service');
      const modal = document.getElementById('new-service-modal');

      // Garantir que o display seja 'block' ao abrir
      modalOverlay.style.display = 'block';
      modal.style.display = 'block';

      // Adiciona a classe 'active' para iniciar a transição
      setTimeout(() => {
        modalOverlay.classList.add('active');
        modal.classList.add('active');
      }, 10);  // Pequeno atraso para garantir que o display seja atualizado antes da animação
    }

    function cancelNewService() {
      const modalOverlay = document.getElementById('modal-overlay-new-service');
      const modal = document.getElementById('new-service-modal');

      // Remove a classe 'active' para iniciar a transição de saída
      modal.classList.remove('active');
      modalOverlay.classList.remove('active');

      // Após a transição (0.3s), defina o display como 'none' para ocultar completamente
      setTimeout(() => {
        modalOverlay.style.display = 'none';
        modal.style.display = 'none';
      }, 300);  // O tempo aqui deve corresponder à duração da transição (0.3s)
    }

    function saveService() {
      const form = document.getElementById('service-form');
      const formData = new FormData(form);

      fetch('', {
        method: 'POST',
        body: formData
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            alert(data.error);
          } else {
            alert('Serviço salvo com sucesso!');
            location.reload();
          }
        })
        .catch(error => {
          console.error('Erro:', error);
          alert('Erro ao salvar serviço.');
        });

      cancelNewService();
    }

    function revealPassword(serviceId) {
      const toggleButton = document.getElementById('toggle_psw_' + serviceId);
      const passwordSpan = document.getElementById('password_' + serviceId);
      const toggleImage = document.getElementById('img_search_' + serviceId);

      fetch(`/reveal_password/${serviceId}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        }
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            alert('Erro ao exibir a senha: ' + data.error);
          } else {
            // Toggle password visibility
            if (passwordSpan.textContent.trim() === '***************') {
              passwordSpan.textContent = data.password;
              toggleImage.src = "{% static 'img/eye_closed.png' %}";
            } else {
              passwordSpan.textContent = '***************';
              toggleImage.src = "{% static 'img/eye_opened.png' %}";
            }
          }
        })
        .catch(error => {
          console.error('Erro:', error);
          alert('Erro ao exibir a senha.');
        });
    }

    function openPasswordGenerator(passwordField) {
      currentPasswordField = passwordField;
      document.getElementById('password-generator').style.display = 'block';
    }

    document.getElementById('generate-btn').addEventListener('click', function () {
      const caseOption = document.querySelector('input[name="case"]:checked').value;
      const digits = document.getElementById('digits').checked;
      const symbols = document.getElementById('symbols').checked;
      const startChar = document.getElementById('start-char').checked;
      const minLength = parseInt(document.getElementById('min-length').value, 10);
      const maxLength = parseInt(document.getElementById('max-length').value, 10);

      const generatedPassword = generatePassword(caseOption, digits, symbols, startChar, minLength, maxLength);
      document.getElementById('generated-password').value = generatedPassword;
    });

    document.getElementById('continue-btn').addEventListener('click', function () {
      const generatedPassword = document.getElementById('generated-password').value;
      document.getElementById(currentPasswordField).value = generatedPassword;
      document.getElementById('password-generator').style.display = 'none';
    });

    document.getElementById('cancel-btn').addEventListener('click', function () {
      document.getElementById('password-generator').style.display = 'none';
    });

    function generatePassword(caseOption, digits, symbols, startChar, minLength, maxLength) {
      const lowerCaseChars = 'abcdefghijklmnopqrstuvwxyz';
      const upperCaseChars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      const digitChars = '0123456789';
      const symbolChars = '!@#$%^&*()_+[]{}|;:,.<>?';

      let allChars = '';
      if (caseOption === 'lower' || caseOption === 'mixed') allChars += lowerCaseChars;
      if (caseOption === 'upper' || caseOption === 'mixed') allChars += upperCaseChars;
      if (digits) allChars += digitChars;
      if (symbols) allChars += symbolChars;

      let password = '';
      if (startChar) {
        const startOptions = (caseOption === 'mixed') ? lowerCaseChars + upperCaseChars : (caseOption === 'lower') ? lowerCaseChars : upperCaseChars;
        password += startOptions.charAt(Math.floor(Math.random() * startOptions.length));
      }

      const passwordLength = Math.floor(Math.random() * (maxLength - minLength + 1)) + minLength;
      for (let i = password.length; i < passwordLength; i++) {
        password += allChars.charAt(Math.floor(Math.random() * allChars.length));
      }

      return password;
    }

    $(document).ready(function () {
      $('#tb_services').DataTable({
        "language": {
          "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json"
        },
        "paging": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "pageLength": 10,
        "dom": '<"top"f>rt<"bottom"lp><"clear">',  // f = search input, l = length, p = pagination
        "initComplete": function () {
          // Adicionar classe ao input de pesquisa
          $('div.dataTables_filter input').addClass('custom-search');
        },
        "columnDefs": [
          { "orderable": false, "targets": [5, 6] }  // Coluna de Senha (índice 5) e Ações (índice 6)
        ]
      });
    });

    function exportData() {
      // Faz uma requisição GET para a URL que irá gerar o CSV
      window.location.href = "{% url 'export_csv' %}";
    }

  </script>

</body>

</html>