<!-- templates/login.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="login">
        <div class = "logo_cldf">
            <img src="{% static 'img/logo_cldf.png' %}">
        </div>
        <div class="wrapper">
            <form class="form-signin" method="POST">
                {% csrf_token %}
                <h2>Login</h2>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}

                <input type="text" class="form-control" name="username" placeholder="Nome de usuário" required=""/><br>
                <input type="password" class="form-control" name="password" placeholder="Senha" required="" /> <br>
                <button class="btn_entrar_login" type="submit">Entrar</button>
            </form>
            <p>Locker | Versão 0.8</p>
        </div>
    </div>



    <!-- <div class="login-container">
        <h2>Login</h2>

    
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <label for="username">Usuário:</label>
            <input type="text" name="username" id="username" required><br><br>

            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" required><br><br>

            <button type="submit">Entrar</button>
        </form>
    </div> -->

</body>

</html>