<!-- templates/login.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="login">
        <div class="logo_cldf">
            <img src="{% static 'img/logo_cldf.png' %}" alt="Logo CLDF">
        </div>
        <div class="wrapper">
            <form class="form-signin" method="POST">
                {% csrf_token %}
                <h2>Login</h2>
                
                <!-- Exibindo mensagens de erro -->
                {% if error %}
                    <div class="error-message">
                        <p>{{ error }}</p>
                    </div>
                {% endif %}
                
                <!-- Campo de nome de usuário -->
                <input type="text" class="form-control" name="username" placeholder="Nome de usuário" required="" /><br>

                <!-- Campo de senha -->
                <input type="password" class="form-control" name="password" placeholder="Senha" required="" /> <br>

                <!-- Botão de login -->
                <button class="btn_entrar_login" type="submit">Entrar</button>
            </form>
            <p>Locker | Versão 0.8</p>
        </div>
    </div>
</body>

</html>
